# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
